.unlogged-layout {
  height: 100vh;
  background-color: #f8f8f8;
}

.unlogged-header {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unlogged-header-content {
  height: 100%;
}

.unlogged-header-logo {
  width: 200px;
  height: 80px;
}

.unlogged-nav-option {
  font-size: 18px;
  cursor: pointer;
}
